.App {
  text-align: center;
  height: 100vh; 
  margin: 0px; 
}

.container { 
	height: 40px; 
}

.InfoUser {
	margin-top: 40px;
	list-style: none; 
}

.InfoName {
	background-color: palegreen; 
	height: 30px; 
}

.InfoEmail {
	background-color: palegoldenrod; 
	height: 30px; 
}

.InfoPasswords{
	background-color: paleturquoise; 
	height: 30px; 

}
.InfoIban{
	background-color: rgb(211, 141, 164); 
	height: 30px; 

}
.InfoPin{
	background-color: peachpuff; 
	height: 30px; 
}

.Footer {
	background-color: rgb(240, 226, 226); 
	height: 80px; 
	top: 0px; 
}

.TextFooter {
	margin: 0px; 
	text-align: center; 
}